<!--Integration-->
<!--<?xml version="1.0" encoding="windows-1252" ?>-->
<!--<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"-->
<!--        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->
<!--<hibernate-configuration>-->
<!--    <session-factory>-->
<!--        &lt;!&ndash; MySQL DB running on localhost &ndash;&gt;-->
<!--        <property name="connection.url">jdbc:mysql://localhost/first</property>-->
<!--        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
<!--        <property name="connection.username">root</property>-->
<!--        <property name="connection.password"></property>-->
<!--        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>-->

<!--        &lt;!&ndash; Use the Hibernate built-in pool for tests. &ndash;&gt;-->
<!--        <property name="connection.pool_size">1</property>-->

<!--        &lt;!&ndash; Show all SQL DML executed by Hibernate &ndash;&gt;-->
<!--        <property name="show_sql">true</property>-->
<!--        <property name="use_sql_comments">true</property>-->
<!--        <property name="hibernate.format_sql">false</property>-->
<!--        &lt;!&ndash; Always drop and recreate the database schema on startup &ndash;&gt;-->
<!--        <property name="hbm2ddl.auto">create</property>-->

<!--        &lt;!&ndash; Mapping files &ndash;&gt;-->
<!--        <mapping class="com.hibenettest.business.Person" />-->
<!--        <mapping class="com.hibenettest.business.Relative" />-->
<!--    </session-factory>-->
<!--</hibernate-configuration>-->
